<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Registration_System.Properties.Settings.regDBConnectionString"
            connectionString="Data Source=AYECHANAUNG-PC;Initial Catalog=regDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Registration_System.Properties.Settings.regDBConnectionString1"
            connectionString="Data Source=DESKTOP-S17964A\SQLEXPRESS;Initial Catalog=regDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Registration_System.Properties.Settings.regDBConnectionString2"
            connectionString="Data Source=DESKTOP-NME1HTG;Initial Catalog=regDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>